<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="BlacksmithPress.Diabetes" providerName="System.Data.SqlClient" connectionString="Data Source=tcp:diabetesclouddbserver.database.windows.net,1433;Initial Catalog=DiabetesCloud_db;User Id=kenlefeb@diabetesclouddbserver;Password=August 27, 2016" />
  </connectionStrings>
</configuration>
